LogicBaseProjectConversionUtility/Service References/ProjectConversionService/ProjectConversionService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/decisions/Primary/API/ProjectConversionService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DecisionsFramework.ServiceLayer.Utilities" />
  <xs:import schemaLocation="http://localhost/decisions/Primary/API/ProjectConversionService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DecisionsFramework.ProjectConversion" />
  <xs:element name="UploadConvertedProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DecisionsFramework.ServiceLayer.Utilities" minOccurs="0" name="user" nillable="true" type="q1:AbstractUserContext" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DecisionsFramework.ProjectConversion" minOccurs="0" name="project" nillable="true" type="q2:ConvertedProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadConvertedProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DecisionsFramework.ProjectConversion" minOccurs="0" name="UploadConvertedProjectResult" nillable="true" type="q3:ConversionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>